<!DOCTYPE html>
<html ng-app='omdb'>
  <head>
    <meta charset="utf-8">
    <title>Angular OMDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <section class="center text-center">
      <h1>Angular OMDb API Search</h1>
      <p>Enter A Movie By Title</p>
      <form name="movie" ng-controller="SearchController" >
        <div class="form-group">
          <input ng-model="searchTerms" type="text" name="moviename" value="">
        </div>
        <div class="form-group">
          <input type="button" ng-click="changeLocation()" name="searchbutton" value="Search">
        </div>
      </form>
    </section>
    <div ng-view>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.1.0/ui-bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>

  </body>
</html>
